body{
  margin: 0;
  padding: 0;
 background-color: ghostwhite;
}
.heading{
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #fff;
  color: gray;
  text-transform: capitalize;
}
.car-row{
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}